.card {
  width: 540px;
  padding-bottom: 100px;
  margin: 0;
}

.card__title {
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: bold;
  padding-bottom: 32px;
}

.card__list {
  margin: 0;
  padding: 0;
}

.card__list-item {
  margin: 0px 0 16px;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: flex-end;
  font-family: "Noto Serif", "Times New Roman", serif;
}

.card__list-item:last-of-type {
  margin-bottom: 0;
}

.card__list-divider {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-grow: 1;
  border-bottom: 1px solid;
}
