.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.reservation__title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 100px;
  padding-bottom: 80px;
  font-family: Inter;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  display: flex;
  justify-content: center;
}

.reservation__form {
  margin: 0 auto;
  max-width: 385px;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding-left: 0;
}

.form__fieldset {
  border: 0;
  padding-bottom: 32px;
  padding-left: 0;
  padding-right: 0;
}

.form__label {
  display: flex;
  white-space: nowrap;
  padding-bottom: 8px;
}

.form__input {
  border-radius: 4px;
  font-family: Inter;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  height: 60px;
  width: 385px;
}

.form__input::placeholder {
  padding-left: 10px;
}

.form__button {
  border-radius: 4px;
  opacity: 100%;
  transition: opacity 0.5s ease-in 0.5s;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  color: #fff;
  width: 385px;
  height: 60px;
  margin: 0 auto;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  border-radius: 2px;
  background-color: #2f80ed;
  background-image: url(../images/check.svg);
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 120px;
  padding-bottom: 0;
  margin-right: 12px;
  height: 20px;
  width: 20px;
}

.form__fieldset_checkbox {
  display: flex;
  justify-content: center;
}

[type="checkbox"] {
  vertical-align: top;
}
