.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.reservation__title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 100px;
  padding-bottom: 80px;
  font-family: Inter;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  display: flex;
  justify-content: center;
}

.reservation__form {
  margin: 0 auto;
  max-width: 385px;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding-left: 0;
}
