.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
}

.header {
  background-color: #fff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 0 30px;
  position: relative;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 125px;
  width: 142px;
}

.nav__links {
  margin: 0;
  display: flex;
  column-gap: 20px;
  list-style-type: none;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.nav__link:hover {
  color: #1f69c9;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__title {
  max-width: 729px;
  font-size: 60px;
  line-height: 72px;
  font-weight: 500;
  margin: 80px 0px 0px 80px;
  font-family: "Inter", Arial, sans-serif;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin-top: 28px;
  margin-left: 80px;
  max-width: 683px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  max-height: 646px;
  max-width: 568px;
}

.header__footer {
  position: absolute;
  display: flex;
  align-items: center;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  justify-content: space-between;
  width: 100%;
  bottom: 40px;
  right: 0px;
  box-sizing: border-box;
}

.header__paragraph {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  display: flex;
  margin: 0;
  padding: 0 80px;
}

.recipes {
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}

.recipes__title {
  padding-top: 100px;
  padding-left: 80px;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 580px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  padding-left: 80px;
  padding-top: 24px;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 438px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  column-gap: 40px;
}

.recipes__iframe {
  border: none;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 215px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.reservation__title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 100px;
  padding-bottom: 80px;
  font-family: Inter;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  display: flex;
  justify-content: center;
}

.reservation__form {
  margin: 0 auto;
  max-width: 385px;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding-left: 0;
}

.form__fieldset {
  border: 0;
  padding-bottom: 32px;
  padding-left: 0;
  padding-right: 0;
}

.form__label {
  display: flex;
  white-space: nowrap;
  padding-bottom: 8px;
}

.form__input {
  border-radius: 4px;
  font-family: Inter;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  height: 60px;
  width: 385px;
}

.form__input::placeholder {
  padding-left: 10px;
}

.form__button {
  border-radius: 4px;
  opacity: 100%;
  transition: opacity 0.5s ease-in 0.5s;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  color: #fff;
  width: 385px;
  height: 60px;
  margin: 0 auto;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  border-radius: 2px;
  background-color: #2f80ed;
  background-image: url(../images/check.svg);
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 120px;
  padding-bottom: 0;
  margin-right: 12px;
  height: 20px;
  width: 20px;
}

.form__fieldset_checkbox {
  display: flex;
  justify-content: center;
}

[type="checkbox"] {
  vertical-align: top;
}
