.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
}

.header {
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 0 30px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  position: absolute;
  height: 125px;
  width: 142px;
}

.nav__links {
  margin: 0;
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  position: relative;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  font-family: "Inter";
  font-size: 16px;
  line-height: 20px;
}

.nav__link:hover {
  color: #1f69c9;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif";
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__title {
  max-width: 729px;
  font-size: 60px;
  line-height: 72px;
  font-weight: 500;
  margin: 202px 0px 0px 80px;
  font-family: "Inter";
}

.header__description {
  font-family: "Noto Serif";
  font-size: 20px;
  line-height: 30px;
  margin-top: 28px;
  margin-left: 80px;
  max-width: 683px;
}

.header__image {
  z-index: 1;
  position: absolute;
  top: 124px;
  right: 5px;
  max-height: 646px;
  max-width: 568px;
}

.header__footer {
  align-items: center;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__columns {
  display: flex;
  justify-content: space-between;
}

.header__column_content_hours {
  margin-left: 80px;
  margin-bottom: 40px;
}

.header__column_content_address {
  margin: auto 80px 40px;
}

.header__paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  line-height: 0;
}

.recipes {
  background-color: #0a2750;
}
